---
layout: page
title: Airspace
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">APPROVED! <br> Paquola Scientific Editing</h1>
          <p class="animated fadeInUp">Personalised help for improving your scientific articles</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Welcome to Approved!</h2>
          <p>Approved! offers a personalised approach to improving scientific articles and grant applications. All work is solely undertaken by me, Casey Paquola, which ensures your work is handled by an active academic.</p> 
          <p>By publishing in and reviewing for high impact journals, I’ve learnt how to craft a piece of work to maximise its potential. I can help you do the same by making your text more clear and persuasive and/or providing a constructive academic review prior to submission.</p>
          <p>Whether writing is not your forte or English is a second language, I can help to improve the clarity of work and emphasise its importance, thereby enhancing your chance of success.</p>
      <a href="#" class="btn btn-view-about">View About</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Key Services</h2>
        <p>These services can be used for any type of academic work, including scientific articles, grant applications, theses, conference abstracts, job applications, posters and powerpoint presentations. See more details on the process and outcomes in <a href="/services.html">Services</a>. </p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-document-text"></i>
          <h4>Linguistic Editing</h4>
          <p>Editing the phrasing and sentence structure to enhance the clarity and eloquence of the text.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-lightbulb-outline"></i>
          <h4>Academic Review</h4>
          <p>Providing critical and constructive feedback on the scientific content, enabling improvements prior to submission.</p>
        </div>
      </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="icon ion-ios-people-outline"></i>
            <h4>Personal Consultation</h4>
            <p>In-depth discussion of the work with clear guidance on how to maximise its chance of success.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
